.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    
    font-style: normal;

  }

  .download-btn {
    background-color: white;
    font-weight: 600;
    color: 0d1321;
    padding: 17px 31px;
    border-radius: 5px;
    
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 71px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 0;
    100px 50px 0px 120px;
}
/* banner style */
 .banner{
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
    margin-right: 100px;
    margin-left: 120px;
    margin-top: 100px;
    text-align: center;
 }
 .heading-1{
    max-width: 800;
 }

 .banner-btn{
    background-color: black;
    font-weight: 600;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px; 
    margin-top: 30px;
    
}


.header{
   background-image: url(./assets/Hero-bg.png), url(./assets/Group.png);
   background-repeat: no-repeat;
   background-position: top center;
   
}
/* main styles */
main section{
   margin-top: 130px;
   margin-bottom: 130px;
}



.heading-2{
   font-size: 25px;
   font-weight: 800;
   color: black;
   text-align: center;
}
.section-para{
   font-size: 18px;
   color: olive;
   text-align: center;
}

.section-item{
   display: flex;
   justify-content: space-between;
   margin: 0 90px 0 80px ;
   
}
.learn-btn{
   background-color: gainsboro;
   font-weight: 600;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 15px;

}

.section-items{
   max-width: 780px;
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
   margin-right: 90px;
   margin-left: 85px;
   margin-bottom: 0;


}

.sections-items{
   display: flex;
   justify-content: space-between;
   margin: 20px 90px 0 80px ;

}